
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* UNIVERSAL SELECTOR */
* {
    font-family: 'Mooli','Ubuntu', sans-serif;
    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


/* || ROOT || */
:root {
    --backgound: #0f1e27;
	--font: whitesmoke;
    --credit: #b9bcc2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: var(--font);
    background: var(--backgound);
}

.root {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
	width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header,
footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}





h1 {
    font-weight: 100;
    font-size: 2.2rem;
}

#seconds,
#colon,
#tens {
    font-size: 2em;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

button {
    border-radius: 5px;
    background: var(--backgound);
    color: var(--font);
    border: solid 1px var(--font);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: 20%;
    aspect-ratio: 5/2;
    margin: 10px;
    outline: none;
    transition: all 250ms ease-in-out;
}

button:hover {
    background: var(--font);
    border: solid 1px var(--backgound);
    color: var(--backgound);
}











footer .credit {
    color: var(--credit);
    cursor: pointer;
    text-decoration: none;
}

footer div {
    height: 1px;
    width: 90%;
    background-color: var(--credit);
    margin-bottom: 1rem;
}





